<html>
  <head>
    <link href='vendor/bootstrap.css' rel='stylesheet'>
    <link href='css/main.css' rel='stylesheet'>
    <script src='vendor/react.js'></script>
    <script src='vendor/react-dom.js'></script>
    <script src='js/compiled/main.js'></script>
  </head>

  <body>
    <div class='container'>
      <section>
        <ol>
          Things to cover
          <li>Binary is something that I've taken for granted; a fundamental aspect of computer science that I've only gave a cursory look at. Partly because it's not gonna help me with javascript front-end whatever</li>
          <li>I started reading CODE and in chapter 10, Binary is introduced (9 chapters before binary!)</li>
          <li>I was struck by how well binary was explained to the reader - diagrams, even rediculous images like dolphins, are used.</li>
          <li>Learning about binary on the internets is not terribly easy. I'm a visual learner, so reading a wall of text is not easy for me.</li>
          <li>I wanted to understand how bitwise operators work and how they manipulate the bits of something stored in memory</li>
          <li>I had a lot of trouble understanding them - I kept having to parse out the values and compare bit by bit the differences.</li>
          <li>This helped me a lot. two rows, each containing 8 bits. white/0 for 0, black/1 for 1.</li>
          <li>Generate a number and the top row will display it in bit code (only 0-255)</li>
          <li>(at this point animate a sequence of the number 123) - starting right to left, bit by bit, the base2 operation and the sum (so far) until the very end</li>
          <li>say something about how to try it out and see it work. then link or say something about the bitwise operator explanation/post and/or bitwise game</li>
        </ol>
      </section>
      <div id='render'></div>
    </div>

    <script type='text/javascript'></script>
  </body>
</html>