body {
  background-color: #DCDCDC;
}

.bit {
  height: 50px;
  width: 50px;
  padding: 0px;
  margin: 0;
  border: 0.5px solid black;
  display: inline-block;
}

.operator {
  height: 75px;
  width: 75px;
  text-align: center;
  background-color: white;
  margin: 1px;
  border: 1px solid black;
  cursor: pointer;
}

.subset {
  min-height: 110px;
}

.chunk {
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 1px;
  border: 1px solid #DCDCDC;
}

.chunk-operand {
  cursor: pointer;
}

.chunk-active {
  background-color: #6B6262;
  border: 1px solid #333;
}

.bit-less {
  background-color: white;
  margin: 0;
  text-align: center;
  font-size: 2em;
  color: black;
}

.eq {
  margin-left: 10px;
}

.num {
  margin-left: 10px;
  min-width: 200px;
}

.operator {
  float: left;
  background-color: white;
  color: black;
  display: inline-block;
}

.operator:hover {
  background-color: black;
  color: white;
}

.operator-row {
  margin: 0 auto;
  display: inline-block;
  font-size: 2.2em;
}

.bit-full {
  background-color: black;
  margin: 0;
  text-align: center;
  font-size: 2em;
  color: white;
}

